/* styles.css */

div {
    color:white;
    background-color: black;
}

.alert-text {
    color: green;
}

#title {
    background-color: green;
}

.read,
.unread {
    color:white;
    background-color: white;
}

.subsection.header{
    color:yellow;
    background-color: aqua;
}
.subsection#preview{
    color: black;
    background-color: beige;
}

.dad .grand_kid_1{
    color:pink;
}


